<div class="header__area">
    <div class="main-header header-xy-spacing" id="header-sticky">
       <div class="container-fluid">
          <div class="row align-items-center">
             <div class="col-xxl-3 col-xl-3 col-lg-5 col-md-6 col-6">
                <div class="logo-area d-flex align-items-center">
                   <div class="logo">
                      <a href="/">
                        <img src="../techzonelive/assets/img/logo/vit.png" style="width : 100%; height: 70px;"  alt="logo">
                        <!-- <span style="color:#FF6652;font-family: Fantasy;" >
                           <span style="font-size:35px!important;font-weight:bold"><</span>
                           <i class="fa fa-pencil" style="font-size:50px;"></i>
                           <span style="font-size:35px!important;font-weight:bold">></span>
                           <span style="font-family:fantasy;font-size:35px">Tech Zone Live</span>
                        </span> -->
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xxl-9 col-xl-9 col-lg-7 col-md-6 col-6 d-flex align-items-center justify-content-end">
                <div class="main-menu d-flex justify-content-end mr-15">
                   <nav id="mobile-menu">
                      <ul>
                         <li class="">
                            <a href="/">Home</a>
                         </li>
                         <li class="">
                            <a href="/blogs">Blogs</a>
                         </li>
                         <li class="">
                            <a href="/services">Services</a>
                         </li>
                         <li class="">
                            <a href="/about-us">About Us</a>
                         </li>
                        <li class="has-dropdown">
                           <a href="#">Policies</a>
                           <ul class="submenu">
                              <li><a href="/faqs">FAQ's</a></li>
                              <li><a href="/cookie-policies">Cookie Policies</a></li>
                              <li><a href="/privacy-policies">Privacy Policies</a></li>
                              <!-- <li><a href="blog-details.html">Blog Details</a></li> -->
                           </ul>
                        </li>
                        <li class="">
                           <a href="/contact-us">Contact Us</a>
                        </li>
                        <li class="">
                           <a href="/sign-up">Sign Up</a>
                        </li>
                      </ul>
                   </nav>
                </div>
                <div class="header-right d-md-flex align-items-center">
                   <div class="header-meta">
                      <ul>
                         <li><a href="#" class="tp-menu-toggle d-xl-none"><i class="icon_ul"></i></a></li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>